@using Sitecore.ExperienceForms.Mvc.Html
@model Sitecore.Feature.NexaWeb.Models.stateList
@{
    var states = Model.States();
}
<label for="@Html.IdFor(m => Model.stateCode)" class="@Model.LabelCssClass">@Html.DisplayTextFor(t => Model.Title)</label>
<select id="@Html.IdFor(m => Model.Value)" data-trigger name="@Html.NameFor(m => Model.Value)" class="@Model.CssClass" placeholder="Select Your Work Location" data-sc-tracking="@Model.IsTrackingEnabled" data-sc-field-name="@Model.Name" @Html.GenerateUnobtrusiveValidationAttributes(m => m.Value)>
    <option placeholder>Select Your Work Location</option>
    @foreach (var region in regions)
    {
        <optGroup data-id="@region.Value" label="@region.Key">
            @foreach (var state in region.Value)
            {
                <option value="@state.Value">@state.Key</option>
            }
        </optGroup>
    }
</select>
@Html.ValidationMessageFor(m => Model.Value)

